---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.data.portfolio.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="{{ site.data.portfolio.seo.description }}">
  <meta rel="author" href="{{ site.data.portfolio.seo.rel-author}}">
  <meta rel="publisher" href="{{ site.data.portfolio.seo.rel-publisher }}">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.ico">  
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

{% include header.html %}

{% include nav.html %}

<div class="main">

	{% include about.html %}

	{% include work.html %}

	{% include testimonials.html %}

	{% include contact.html %}

	{% include contactform.html %}

	{% include footer.html %}

</div>

<script src="assets/js/jquery-2.1.1.min.js"></script>
<script src="assets/js/jquery.parallax.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<script src="assets/js/functions.js" type="text/javascript"></script>
</body>
</html>