header
	
	@extend %background-image
	position: fixed
	width: 100%
	height: 450px
	top: 0
	background:
		position: 30px 30px, 50% bottom
		image: url(../img/#{$logo-path}), url(../img/#{$hero-path})


	h1
		text-align: center
		font:
			size: 72px
			weight: bold 
		color: white 
		text-transform: uppercase
		letter-spacing: 0.2em
		margin-top: 0px
		margin-bottom: 20px
		clear: both
		padding-top: 148px

		span 
			display: inline-block
			padding: 1% 2%
			border: white solid 5px

	.kicker
		text-align: center
		color: white 
		font:
			weight: regular 
		text-transform: uppercase
		letter-spacing: 0.2em
		line-height: 1

@media (max-width: 660px)
	header
		background:
			position: center 30px, 50% bottom

		h1
			padding-top: 188px

